@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(27, 35, 48);
  list-style: none;
  color: hsl(0, 0%, 100%);
}
.bk-img {
  position: relative;
}
.bk-img img {
  position: absolute;
  width: 100%;
  top: 381px;
  z-index: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
nav ul li {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.illustration-intro {
  text-align: center;
}
.illustration-intro img {
  width: 50%;
  margin: 50px 0;
}
.illustration-intro h2 {
  font-size: 60px;
}
.illustration-intro h4 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 30px;
}
.illustration-intro button {
  padding: 20px 120px;
  font-size: 23px;
  border-radius: 50px;
  background-color: rgb(85, 195, 211);
  border: 1px;
  margin-bottom: 50px;
}

.files {
  text-align: center;
}
.first {
  margin: 50px 0;
}
.first h3 {
  font-size: 34px;
  margin: 20px 0;
}
.first p {
  font-size: 33px;
}
.stay-production {
  text-align: center;
  margin: 200px 0 70px;
}
.word-productive h3 {
  font-size: 40px;
  margin: 20px 0;
}
.word-productive p {
  font-size: 34px;
  margin: 20px 0;
}
.word-productive .fylo-works {
  color: rgb(85, 195, 211);
  border-bottom: 2px solid rgb(85, 195, 211);
}
.word-productive .fylo-works img {
  width: 35px;
}
